@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// app global css in SCSS form
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 1rem 0;
}

*,
html {
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: $grey;
  font-family: 'Fira Sans', sans-serif;
}

// Scrollbar
::-webkit-scrollbar {
  background-color: $primary;
}
::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 15px;
}

// Sidebar
.q-drawer {
  position: fixed;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.q-drawer__content {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// Card
.q-card {
  background-color: $light2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

// List
.q-list {
  background-color: $light;
  border-radius: 4px;
}

.q-item {
  margin: 0.5rem 0 0.5rem 0;
}

// Tabs
.q-tabs {
  border-radius: 4px;
}

.q-tab-panels {
  background-color: transparent;
}
